postgres_server_admin_passwords = {
  "production_postgres" = "Devdemo2026!"
}

sql_server_admin_passwords = {
  "production_sql" = "Devdemo2026!"
}

mongodb_cluster_passwords = {
  "production_mongo" = "Devdemo2026!"
}
