postgres_server_admin_passwords = {
  "production_postgres" = "postgres_server_admin_passwords"
}

sql_server_admin_passwords = {
  "production_sql" = "sql_server_admin_passwords"
}

mongodb_cluster_passwords = {
  "production_mongo" = "mongodb_cluster_passwords"
}
